<section class="landingpage">
  <div class="jumbotron">
    <div class="message">
      <h2>We are constantly pushing to improve our Brand Quality.</h2>
      <!-- <p>Click on the button below now and take the survey.</p> -->
      <p>Help us improve Simba Speed Governor by filling the survey below.</p>
      <a class="btn btn-landing secondary-color" routerLink="/survey">Get Started &rarr;</a>
    </div>
    <div class="landing-image">
      <img
        src="../../assets/images/drawkit-content-man-monochrome.svg"
        alt="welcome image"
      />
    </div>
  </div>
</section>
