.survey-form {
    width: 80%;
    height: 100%;
    margin: 0 auto;
}

iframe {
    scrollbar-width: 0;
}

h3 {
    margin: 1rem 0;
}

.form-control {
    display: block;
    width: 100%;
    padding: 1rem;
    border: 1px solid var(--primary-color);
    border-radius: 3px; 
    margin: .5rem 0;
}

.form-control:focus {
    border: 2px solid var(--secondary-color);
}

.form-check {
    display: inline-block;
}

.btn-submit {
    background: var(--secondary-color);
    color: #fff;
    transition: background .3s ease-in;
}

.btn-submit:hover {
  background: #fff;
  color: #000;
  border: 2px solid #000;
}

@media only screen and (max-width: 500px) {
    .survey-form {
        width: 95%;
    }
}