<section class="aboutpage">
  <div class="jumbotron">
    <h2>About Us</h2>
    <p>Formed in 2018, the company had a vision to disrupt and transform the technology industry in Africa. The company has set up its structure to design, develop and manufacture electronic devices in order to leverage on the niche market in the region, given that most of these services and products are procured from Asia. This has offered a great incentive for the company to invest in the market given the demand on the related service.</p>
  </div>
</section>
